.quiz_card-main-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 3rem;
}

.quiz_card-div {
  width: 20rem;
  margin: 5rem;
  border: 1px solid gainsboro;
  text-align: center;
}

.quiz_img {
  width: 100%;
}

.quiz_tag {
  font-size: 1.5rem;
  font-weight: 500;
}

.quiz_desc {
  margin: 0.5rem 0;
}

.btn-play-now {
  padding: 0.6rem 1rem;
  background-color: white;
  border: 1px solid gainsboro;
  cursor: pointer;
  margin: 1rem 0;
}
.btn-play-now:hover {
  background-color: black;
  color: white;
  transition: 0.3s;
}
.btn-play-now:active {
  border: 1px solid black;
}

.home-footer-div {
  align-items: center;
  /* position: absolute; */
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 5rem;
  width: 100%;
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
}
.home-footer-div b {
  color: orangered;
  font-size: 1.1rem;
}
.fa-github {
  margin-left: 0.5rem;
  font-size: 1.2rem;
}
.fa-github:hover {
  cursor: pointer;
  color: orangered;
}
.fa-twitter-square {
  margin-left: 0.5rem;
  font-size: 1.2rem;
}
.fa-twitter-square:hover {
  cursor: pointer;
  color: deepskyblue;
}
.fa-linkedin {
  margin-left: 0.5rem;
  font-size: 1.2rem;
}
.fa-linkedin:hover {
  cursor: pointer;
  color: blue;
}
@media screen and (max-width: 700px) {
  .quiz_card-main-div {
    grid-template-columns: 1fr;
  }

  .quiz_card-div {
    width: 15rem;
    margin: 2.5rem;
    margin: 0 auto;
    margin-top: 3rem;
  }
}
