.login-main-card-div {
  width: 60%;
  margin: 0 auto;
  margin-top: 10%;
  border: 1px solid gainsboro;
  display: flex;
}
.login-card-left-black-div {
  width: 50%;
  background-color: black;
  color: white;
  padding: 1rem;
}
.login-card-left-info-lorem {
  margin-top: 3rem;
  width: 75%;
  letter-spacing: 0.1rem;
}
.btn-login-card-knowmore {
  margin-top: 3rem;
  padding: 0.5rem;
  letter-spacing: 0.1rem;
  background-color: black;
  border: 1px solid white;
  color: white;
}
.btn-login-card-knowmore:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  transition: 0.3s;
}
.login-card-right-login-div {
  padding: 1rem;
  width: 50%;
}

.login-card-login-tag {
  text-align: center;
}
.login-card-input-main-div {
  width: 65%;
  margin: 0 auto;
}
.login-card-input-email-div {
  width: 90%;
}
.login-card-input-email {
  width: 100%;
  text-align: left;
  border: none;
  outline-color: transparent;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid gainsboro;
  margin-top: 1rem;
}

.login-card-input-email:hover {
  border-bottom: 1px solid black;
  outline-color: transparent;
  transition: 0.2s;
}
.login-card-input-username-div {
  margin-top: 1rem;
  width: 90%;
}
.login-card-input-username {
  width: 100%;
  text-align: left;
  border: none;
  outline-color: transparent;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid gainsboro;
  margin-top: 1rem;
}
.login-card-input-passowrd-div {
  width: 100%;
  margin-top: 1rem;
  display: flex;
}
.login-card-input-passowrd {
  margin-top: 1rem;
  width: 100%;
  text-align: left;
  border: none;
  outline-color: transparent;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid gainsboro;
}
.login-card-input-passowrd:hover {
  border-bottom: 1px solid black;
  outline-color: transparent;
  transition: 0.2s;
}
.show-password-icon {
  font-size: 0.8rem;
  padding-top: 1rem;
}

.login-card-login-btn-div {
  margin-top: 2rem;
}
.btn-login-card-login {
  margin: 0 auto;
  width: 92%;
  padding: 0.5rem;
  letter-spacing: 0.1rem;
  background-color: white;
  color: black;
  border: 1px solid black;
}
.btn-login-card-login:hover {
  cursor: pointer;
  color: white;
  background-color: black;
  transition: 0.3s;
}
.login-card-signup {
  color: gray;
  text-decoration: underline solid gray 2px;
}
.login-card-signup:hover {
  color: black;
  cursor: pointer;
  text-decoration: underline solid black 2px;
}

.guest-login-div button {
  background-color: transparent;
  border: 1px solid gainsboro;
}
.guest-login-div button:hover {
  background-color: black;
  color: white;
  border: 1px solid black;
  cursor: pointer;
  transition: 0.2s;
}

/* for mobile */
@media only screen and (max-width: 800px) {
  .login-main-card-div {
    width: 90%;
    margin-top: 30%;
  }
  .login-card-left-black-div {
    display: none;
  }
  .login-card-right-login-div {
    width: 100%;
  }
}
